{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- PENTRU BUTTON SERACH ANIME  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>{% block title %} Tweet.co {% endblock title %}</title>
    <style>
      .red-color {
        color: red;
      }
      .grey-color {
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% include "navbar.html" %}
      </div>
      <div class="container">
      {% block content %}
      {% endblock content %}
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block script %}

    {% endblock %}

    <script type="text/javascript">
      //AUTO SEARCH
      //AUTO SEARCH
      var search = $(".search-form");
      var searchInput = search.find("[name='q']");
      var typingTimer;
      var typingInterval = 500;
      var searchBtn = search.find("[type='submit']");
      searchInput.keyup(function(event){
        clearTimeout(typingTimer);
        typingTimer = setTimeout(performSearch,typingInterval);
      });
      searchInput.keydown(function(event){
        clearTimeout(typingTimer);
      });
      function searchAnime(){
        searchBtn.addClass("disabled");
        searchBtn.html("<i class='fa fa-spin fa-spinner'></i> Searching...");
      }
      function performSearch(){
        searchAnime();
        var query = searchInput.val();
        window.location.href='/tweet/search/?q=' + query;
      }
    </script>
  </body>
</html>
